[submodule "submodules/wNumb"]
	path = submodules/wNumb
	url = https://github.com/leongersen/wnumb
[submodule "submodules/libLink"]
	path = submodules/libLink
	url = https://github.com/leongersen/libLink
[submodule "submodules/noUiSlider-dist"]
	path = submodules/noUiSlider-dist
	url = https://github.com/leongersen/noUiSlider-dist
