[submodule "submodules/wNumb"]
	path = submodules/wNumb
	url = https://github.com/leongersen/wnumb
[submodule "submodules/libLink"]
	path = submodules/libLink
	url = https://github.com/leongersen/libLink
