.noUiSlider			{
	width:				400px;
	border:				1px solid #CCC;
	height:				8px;
	background:			#EEE;
}
.noUi-midBar		{
	height:				8px;
	z-index:			0;
	background-color:	#3399cc;
}
.noUi-handle > div	{
	z-index: 			5;
	width:				16px;
	height:				16px;
	position:			absolute;
	top:				-5px;
	left:				-8px;
	border:				1px solid #CCC;
	background:			#EEE;
}
.noUi-handle > div:hover,
.noUi-activeHandle	{
	background:			#adcbe1 !important;
	border-color:		#2673AB !important;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2){

	.noUi-handle > div {

		height:				32px;
		width:				32px;
		top:				-13px;
		left:				-16px;

	}

}