	.noUiSlider,
	.noUiSlider * {
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
		box-sizing: border-box;
-webkit-user-select: none;
   -moz-user-select: none;
	-ms-user-select: none;
		display: block;
		cursor: default;
	}
	.noUiSlider {
		position: relative;
	}
	.noUiSlider a {
		position: absolute;
		z-index: 1;
	}
	.noUiSlider a:nth-child(2) {
		background: inherit !important;
	}
	.noUiSlider.vertical a {
		width: 100%;
		bottom: 0;
	}
	.noUiSlider.horizontal a {
		height: 100%;
		right: 0;
	}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.noUiSlider:before,
	body.TOUCH,
	.noUiSlider div {
		-ms-touch-action: none;
	}
	.noUiSlider:before {
		display: block;
		position: absolute;
		width: 150%;
		left: -25%;
		height: 400%;
		top: -150%;
		content: "";
		z-index: -1;
	}
	.noUiSlider.vertical:before {
		width: 400%;
		left: -150%;
		height: 150%;
		top: -25%;
	}
}
	.noUiSlider {
		background: #000;
		border: 0 solid #000;
	}
	.noUiSlider.disabled div:before,
	.noUiSlider.disabled {
		background: #ccc;
		border-color: #ccc;
	}
	.noUiSlider.horizontal {
		border-width: 0 12px;
	}
	.noUiSlider.vertical {
		border-width: 12px 0;
	}
	.noUiSlider div {
		height: 44px;
		width: 44px;
		position: relative;
	}
	.noUiSlider div:before {
		position: absolute;
		background: #000;
		content: "";
	}
	.noUiSlider.horizontal div:before {
		left: 10px;
		height: 4px;
		width: 24px;
	}
	.noUiSlider.vertical div:before {
		top: 10px;
		width: 4px;
		height: 24px;
	}
	.noUiSlider:not(.disabled) div.active:after,
	.noUiSlider:not(.disabled) div:hover:after {
		height: 30px;
		width: 30px;
		border: 1px solid #333;
		position: absolute;
		top: 6px;
		left: 6px;
		content: "";
		border-radius: 30px;
	}
	.noUiSlider.horizontal {
		width: 300px;
		height: 1px;
	}
	.noUiSlider.horizontal div {
		margin: 1px 0 0 -22px;
	}
	.noUiSlider.vertical {
		width: 1px;
		height: 300px;
	}
	.noUiSlider.vertical div {
		margin: -22px 0 0 1px;
	}