
/* If you have more bars, perhaps give it a class	*/
#sliderbar			{ width: 400px; border: 1px solid #CCC; height: 8px; border-radius: 4px; background: #EEE; }

.noUi_lowerHandle	{ height: 8px; width: 8px; }
.noUi_upperHandle	{ height: 8px; width: 8px; }
.noUi_midBar		{ height: 8px; }

.noUi_midBar		{
	background: #2673AB;
	background-image: linear-gradient(bottom, rgb(94,153,196) 30%, rgb(38,116,171) 81%);
	background-image: -o-linear-gradient(bottom, rgb(94,153,196) 30%, rgb(38,116,171) 81%);
	background-image: -moz-linear-gradient(bottom, rgb(94,153,196) 30%, rgb(38,116,171) 81%);
	background-image: -webkit-linear-gradient(bottom, rgb(94,153,196) 30%, rgb(38,116,171) 81%);
	background-image: -ms-linear-gradient(bottom, rgb(94,153,196) 30%, rgb(38,116,171) 81%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.3, rgb(94,153,196)),
		color-stop(0.81, rgb(38,116,171))
	);
}