#slider-pips .noUi-value-horizontal {
    -webkit-transform: translate(-50%, 25px);
    transform: translate(-50%, 25px);
    writing-mode: vertical-lr;
}

.active-pip {
    font-weight: bold;
    color: red;
}
