.noUi-target {
    padding: 0 17px;
}
.noUi-base:before,
.noUi-base:after {
    width: 17px;
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    display: block;
}
.noUi-base:before {
    left: -17px;
}
.noUi-base:after {
    left: 100%;
}
