.noUi-tooltip {
	display: block;
	position: absolute;
	border: 1px solid #D9D9D9;
	border-radius: 3px;
	background: #fff;
	padding: 5px;
	left: -9px;
	text-align: center;
	width: 50px;
}

.noUi-handle-lower .noUi-tooltip {
	top: -32px;
}

.noUi-handle-upper .noUi-tooltip {
	bottom: -32px;
}
